1. Tentukan library digunakan

In [111]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

2. Load Dataset

In [112]:

milknew_dataset = pd.read_csv('milknew.csv')

In [113]:
milknew_dataset.head()

    pH  Temprature  Taste  Odor  Fat   Turbidity  Colour  Grade
0  6.6          35      1     0     1          0     254      2
1  6.6          36      0     1     0          1     253      2
2  8.5          70      1     1     1          1     246      0
3  9.5          34      1     1     0          1     255      0
4  6.6          37      0     0     0          0     255      1

In [114]:
milknew_dataset.isnull()

        pH  Temprature  Taste   Odor   Fat   Turbidity  Colour  Grade
0    False       False  False  False  False      False   False  False
1    False       False  False  False  False      False   False  False
2    False       False  False  False  False      False   False  False
3    False       False  False  False  False      False   False  False
4    False       False  False  False  False      False   False  False
..     ...         ...    ...    ...    ...        ...     ...    ...
494  False       False  False  False  False      False   False  False
495  False       False  False  False  False      False   False  False
496  False       False  False  False  False      False   False  False
497  False       False  False  False  False      False   False  False
498  False       False  False  False  False      False   False  False

[499 rows x 8 columns]

In [115]:
milknew_dataset.shape

(499, 8)

In [116]:
milknew_dataset['Grade'].value_counts()

0    204
1    177
2    118
Name: Grade, dtype: int64

In [117]:
# memiahkan data dan label
X = milknew_dataset.drop (columns='Grade',axis=1)
Y = milknew_dataset['Grade']

In [118]:
print(X)

      pH  Temprature  Taste  Odor  Fat   Turbidity  Colour
0    6.6          35      1     0     1          0     254
1    6.6          36      0     1     0          1     253
2    8.5          70      1     1     1          1     246
3    9.5          34      1     1     0          1     255
4    6.6          37      0     0     0          0     255
..   ...         ...    ...   ...   ...        ...     ...
494  6.8          45      1     1     1          1     245
495  6.5          35      1     0     1          0     246
496  6.8          36      0     1     1          0     253
497  8.5          70      0     0     0          0     246
498  6.8          34      0     0     0          1     240

[499 rows x 7 columns]

In [119]:
print(Y)

0      2
1      2
2      0
3      0
4      1
      ..
494    2
495    1
496    2
497    0
498    1
Name: Grade, Length: 499, dtype: int64

3. Memisahkan data Training dan data Testing

In [120]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [121]:
print(X.shape, X_train.shape, X_test.shape)

(499, 7) (399, 7) (100, 7)

4. Membuat data latih menggunakan algoritma svm

In [122]:
classifier = svm.SVC(kernel='linear')

In [123]:
classifier.fit(X_train, Y_train)

SVC(kernel='linear')

5. membuat model evaluasi untuk mengukur tingkat akurasi

In [124]:
X_train_prediction = classifier.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [125]:
print('Akurasi data training adalah =', training_data_accuracy)

Akurasi data training adalah = 0.9022556390977443

In [126]:
X_test_prediction = classifier.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [127]:
print('Akurasi data testing adalah=', test_data_accuracy)

Akurasi data testing adalah= 0.89

6. Membuat model prediksi

In [134]:
input_data = (6.7,45,1,1,1,0,245)

input_data_as_numpy_array = np.array(input_data)

input_data_reshape = input_data_as_numpy_array.reshape(1,-1)

prediction = classifier.predict(input_data_reshape)
print(prediction)

if (prediction [0] == 0):
    print('low')
elif (prediction [0] == 1):
    print('medium')
else :
    print('high')

[1]
medium

c:\Users\putri apriliyanti\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but SVC was fitted with feature names
  warnings.warn(

7. Simpan Model

In [129]:
import pickle

In [130]:
filename = 'milk_model.sav'
pickle.dump(classifier, open(filename,'wb'))